﻿@model AspNetMvc.Models.Owner

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<strong>New Owner: @Model.Name</strong>

<strong>Dogs:</strong>

<ul></ul>
@foreach (var dog in Model.Dogs)
{
    <li>@dog.Name (@dog.Breed)</li>
}    
</ul>
